name: Deploy to production

on:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/deploy.yml"
      - "version/**"
  workflow_dispatch:

# we don't need GITHUB_TOKEN in this workflow
permissions: {}

jobs:
  deploy:
    name: Deploy to mirror
    runs-on: self-hosted
    environment: technic-mirror
    env:
      MIRROR_BASEPATH: ${{ secrets.MIRROR_BASEPATH }}
      DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
    steps:
      - name: Pull changes and detect new MC versions
        run: |
          # abort on errors
          set -euo pipefail
          cd $MIRROR_BASEPATH
          git pull
          NEW_VERSION_PATHS="$(git diff --name-only --diff-filter=A "$GITHUB_REF_NAME@{1}".."$GITHUB_REF_NAME" -- version/)"
          if [ -n "$NEW_VERSION_PATHS" ]; then
            payload=$(printf '%s' "$NEW_VERSION_PATHS" | cut -d'/' -f2 | sort -V | \
              jq --raw-input --slurp 'split("\n") | map(select(. != "")) | unique | join(", ") | "<@78777797702582272> New MC versions: " + . | {content: .}')
            printf 'Payload:\n%s\n' "$payload"
            curl -X POST --fail-with-body --silent --show-error \
              "${DISCORD_WEBHOOK_URL}?wait=true" \
              -H 'Content-Type: application/json' \
              -d "$payload"
          fi
