name: Run tests

on:
  push:
    branches:
      - "master"
    paths-ignore:
      - "renovate.json"
  pull_request:
    branches:
      - "master"
    paths-ignore:
      - "renovate.json"
  merge_group:

# read-only token
permissions: {}

jobs:
  update_mc_versions:
    name: "Run tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7
        with:
          version: "0.9.10"
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Lint with ruff
        run: uv run ruff check
      - name: Run update script
        run: uv run update_versions.py
