name: Update MC version data

on:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/update-mc-versions.yml"
      - "update_versions.py"
  schedule:
    - cron: "30 * * * *"
  workflow_dispatch:

# GITHUB_TOKEN doesn't need permissions, since we're using a custom SSH key to work around GitHub Actions
# not running other workflows on push when changes are pushed with a GITHUB_TOKEN:
# https://github.com/orgs/community/discussions/25702
# https://stackoverflow.com/a/74563109
permissions: {}

jobs:
  update_mc_versions:
    name: "Update MC versions"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ssh-key: ${{ secrets.COMMIT_KEY }}
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          version: "0.10.0"
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Check for updates to Minecraft versions
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: uv run update_versions.py
      - name: Check for changes
        id: check_changes
        run: |
          if git diff --quiet --exit-code -- version/; then
            echo "changed=false" >> "$GITHUB_OUTPUT"
          else
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Push changes
        if: steps.check_changes.outputs.changed == 'true'
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add ./version/**.json
          git commit -m "Update MC versions ($(date --iso-8601))"
          git push
